<h1>Listing Telecom Rooms</h1>

<table>
  <tr>
    <th>Floor</th>
    <th>Room</th>
    <th>Building</th>
  </tr>

<% @telecom_rooms.each do |telecom_room| %>
  <tr>
    <td><%=h telecom_room.floor %></td>
    <td><%=h telecom_room.room %></td>
    <td><%= link_to telecom_room.building.name, telecom_room.building %></td>
    <td><%= link_to 'Show', telecom_room %></td>
    <td><%= link_to 'Edit', edit_telecom_room_path(telecom_room) %></td>
    <td><%= link_to 'Destroy', telecom_room, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Telecom Room', new_telecom_room_path %>
