<h1>New telecom_room</h1>

<% form_for(@telecom_room) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :floor %><br />
    <%= f.text_field :floor %>
  </p>
  <p>
    <%= f.label :room %><br />
    <%= f.text_field :room %>
  </p>
  <p>
    <%= f.label :building_id %><br />
    <%= f.text_field :building_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', telecom_rooms_path %>