<p>
  <b>Description:</b>
  <%=h @subnet.description %>
</p>

<p>
  <b>Base:</b>
  <%=h @subnet.base %>
</p>

<p>
  <b>Mask:</b>
  <%=h @subnet.mask %>
</p>

<p>
  <b>Vlan:</b>
  <%= link_to @subnet.vlan, @subnet.vlan %>
</p>


<%= link_to 'Edit', edit_subnet_path(@subnet) %> |
<%= link_to 'Back', subnets_path %>
