<p>
  <b>Name:</b>
  <%=h @vlan.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @vlan.description %>
</p>

<p>
  <b>Number:</b>
  <%=h @vlan.number %>
</p>
<% if @vlan.subnets.length != 0 %>
<b>Subnets:</b>
<ul>
<% @vlan.subnets.each do |subnet| %>
  <li><%= link_to subnet, subnet %></li>
<% end %>
</ul>
<% end %>
<%= link_to 'Edit', edit_vlan_path(@vlan) %> |
<%= link_to 'Back', vlans_path %>
