<p>
  <b>Name:</b>
  <%=h @vlan.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @vlan.description %>
</p>

<p>
  <b>Number:</b>
  <%=h @vlan.number %>
</p>


<%= link_to 'Edit', edit_vlan_path(@vlan) %> |
<%= link_to 'Back', vlans_path %>