<h1>Listing ip_addresses</h1>

<table>
  <tr>
    <th>Ip address</th>
    <th>Subnet</th>
    <th>Network</th>
  </tr>

<% @ip_addresses.each do |ip_address| %>
  <tr>
    <td><%=h ip_address.ip_address %></td>
    <td><%=h ip_address.subnet_id %></td>
    <td><%=h ip_address.network_id %></td>
    <td><%= link_to 'Show', ip_address %></td>
    <td><%= link_to 'Edit', edit_ip_address_path(ip_address) %></td>
    <td><%= link_to 'Destroy', ip_address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ip_address', new_ip_address_path %>