<p>
  <b>Ip address:</b>
  <%=h @ip_address.ip_address %>
</p>

<p>
  <b>Subnet:</b>
  <%=h @ip_address.subnet_id %>
</p>

<p>
  <b>Network:</b>
  <%=h @ip_address.network_id %>
</p>


<%= link_to 'Edit', edit_ip_address_path(@ip_address) %> |
<%= link_to 'Back', ip_addresses_path %>