<p>
  <b>Name:</b>
  <%=h @building.name %>
</p>
<p>
  <b>Nick:</b>
  <%=h @building.nick %>
</p>
<p>
  <b>Address:</b>
  <%=h @building.address %>
</p>

<p>
  <b>City:</b>
  <%=h @building.city %>
</p>

<p>
  <b>State:</b>
  <%=h @building.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @building.zip %>
</p>
<% if @building.telecom_rooms.length != 0 %>
<b>Telecom Rooms:</b>
<ul>
<% @building.telecom_rooms.each do |tr| %>
  <li><%= link_to tr, tr %></li>
<% end %>
</ul>
<% end %>
<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
