<h1>Editing line_type</h1>

<% form_for(@line_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @line_type %> |
<%= link_to 'Back', line_types_path %>