<h1>Editing cabinet</h1>

<% form_for(@cabinet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :building_id %><br />
    <%= f.text_field :building_id %>
  </p>
  <p>
    <%= f.label :room %><br />
    <%= f.text_field :room %>
  </p>
  <p>
    <%= f.label :service_type_id %><br />
    <%= f.text_field :service_type_id %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.label :contact_first_name %><br />
    <%= f.text_field :contact_first_name %>
  </p>
  <p>
    <%= f.label :contact_last_name %><br />
    <%= f.text_field :contact_last_name %>
  </p>
  <p>
    <%= f.label :contact_phone_number %><br />
    <%= f.text_field :contact_phone_number %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :leased %><br />
    <%= f.check_box :leased %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cabinet %> |
<%= link_to 'Back', cabinets_path %>